@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.login .loginText {
  font-family: "Pacifico", cursive;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  height: 100%;
}
.loginDetails {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-bottom: 16rem;
}

.googleBtn {
  background-color: rgb(170, 11, 11) !important;
  color: #fff !important;
  outline: none !important;
}
@media (max-width: 767px) {
  .loginDetails {
    padding: 2rem;
    margin-top: 13rem;
    margin-bottom: 16rem;
  }
}
